.sidebar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    position: fixed;
    overflow: auto;
    display:flex;
    justify-content: flex-end;
  }
  .sidebar a {
    display: block;
    color:white;
    padding: 16px;
    text-decoration: none;
    margin-right:78px;
  }

  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  .sideBarToggel{
    display:none;

  }
  .toggledSidebar {
        display: flex;
        flex-direction: column;
        background-color:grey;
        color: black;
        height: 100%;
        width: 200px;
        position: fixed!important;
        z-index: 1;
        overflow: auto;

  }
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
     .sidebar a{
      margin-right: auto;
     }
     .sidebar{
      display:none;
     }
     .sideBarToggel{
      display:block;
      background-color: black;
      color: white;
     }

  }