.container{
  margin-top: 30px;

}
.headingname {
    font-size: 1.5em !important;
     color:white;
    margin: auto;
    width: fit-content;
  }
  .mainname {
    color: #cd5ff8;
  }
  .imagewrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px;
  }
  .hoverEffect:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.05);
  }
  .emailwrapper{
    font-size: 1.5em !important;
    padding-left: 45px !important;
    color:white;
    margin: auto;
    width: 24%;
  }